.main-content {
  margin-left: 200px;
  margin-right: 160px;
  padding: 24px;
  flex: 1;
}

@media (max-width: 800px) {
  .main-content {
    margin-left: 110px;
    margin-right: 100px;
    padding: 16px;
  }
}

@media (max-width: 500px) {
  .main-content {
    margin-left: 0;
    margin-right: 0;
    padding: 16px;
  }
}